.grid-container{
    display: grid;
    /* single column multiple rows alignment  */
}
.box{
    /* width:200px; */
    height:200px;
}
.box1{
    background-color: aqua;
}
.box2{
    background-color:red;
}
.box3{
    background-color:pink;
}
.box4{
    background-color:yellow;
}
.box5{
    background-color:blue;
}
.box6{
    background-color: brown;
}
.box7{
    background-color:orangered;   
}
.box8{
    background-color:pink;
}
.box9{
    background-color: aquamarine;
}